#formPost {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 100px auto;
    gap: 10px;
}

#formPost > input, textarea {
    width: 100%;
    height: 50px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--color-light-gray);
}

#formPost > textarea {
    height: 85px;
}

#formPost > div {
    display: flex;
    gap: 10px;
}

#formPost > div > button {
    height: 35px;
    border: none; 
    border-radius: 10px;
    color: #ffff;
    padding: 5px;
    width: 130px;
    cursor: pointer;
}

#formPost > div > button:nth-child(1) {
    background-color: var(--color-theme);
}

#formPost > div > button:nth-child(2) {
    background-color: var(--color-theme2);
}

#emojiArea {
    background-color: var(--color-light-gray);
    padding: 10px;
    border-radius: 10px;
}

#notEmojiArea {
    display: none;
}

#emojiArea > nav > button{
    font-size: 20px;
    border: none;
    background-color: transparent;
    margin: 0px 5px;
}

#atention {
    font-size: 15px;
}