.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    border-bottom: 2px solid var(--color-dark-gray);
    padding: 10px;
    font-weight: bolder;
}

.menu > ul{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.menu > ul > li > a {
    color: black; 
}

.logo {
    width:50px;
}